<h1>Resultado da busca por: <%= params[:search] %></h1>

<%= form_tag search_recipes_path, method: 'get' do %>
  <%= label_tag :search, 'Busca' %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Buscar' %>
<% end %>

<% @recipe_types.each do |recipe_type| %>
  <ul>
    <li><%= link_to recipe_type.name, recipe_type %></li>
  </ul>
<% end %>

<% @cuisines.each do |cuisine| %>
  <ul>
    <li><%= link_to cuisine.name, cuisine %></li>
  </ul>
<% end %>

<% @recipes.each do |recipe| %>
  <%= render recipe %>
<% end %>

<%= link_to 'Voltar', root_path %>
